spring:
  application:
    name: PhishShield

server:
  port: 8080

gemini:
  api-key: ${GEMINI_API_KEY}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    com.roeeblo.phishshield: DEBUG
    org.springframework: WARN

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: method
